body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url('d241d1214f4245ab1024c86a0059e84d.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    background-color:rgba(255, 255, 255, 0.2);;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.5px);
    padding: 20px;
   
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.display {
    width: 300px;
    background-color: #fffeef;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 10px;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container {
    display: flex;
    justify-content: space-between;
}

button {
    width: 80px;
    border: 2px solid rgb(25, 25, 25);
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button.number,.operator {
    background-color: #fffeef;
}

button.clear {
    font-size: 20px;
    color: #fffeef;
    background-color: rgb(19, 43, 33);
}

button.equals {
    color:#fffeef;
    background-color: rgb(19, 43, 33);
}
button.clear:hover,
button.operator:hover,
button.equals:hover,
button.number:hover {
    background-color: #bbb;
}

button:active {
    transform: scale(0.95);
}
